* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 16px;
  background-color: whitesmoke;
}

main h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: #6495ed;
  color: rgba(100, 148, 237, 0.908);
}

main section {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  position: absolute;
  bottom: 0;
}
